<div class="container">
    <h2 class="title">Clube de assinantes</h2>
    <mat-card class="mat-card">
        <mat-card-content class="mat-card-content-dark">
            <mat-card-title class="title">
                Preencha o formulário e tenha
                acesso aos conteúdos exclusivos
            </mat-card-title>
            <div class="container-info">
                <div class="container-info-left">
                    <div class="content-info-left-top">
                        <div class="circle top-circle left-circle">
                            <p class="number">
                                1
                            </p>
                        </div>
                        <div class="content-info-one">
                            <h3 class="subtitle">Comunidade</h3>
                            <p class="text">
                                Comunidade em torno do conteúdo
                                que pode te levar a discussões,
                                grupos online específicos.
                            </p>
                        </div>
                    </div>

                    <div class="content-info-left-bottom">
                        <div class="circle bottom-circle left-circle">
                            <p class="number">
                                3
                            </p>
                        </div>
                        <div class="content-info-three">
                            <h3 class="subtitle">Acesso a especialistas</h3>
                            <p class="text">
                                Convidados especialistas que te
                                permitem ouvir insights valiosos
                                e informações de fontes
                                confiáveis.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="container-info-right">
                    <div class="content-info-right-top">
                        <div class="circle top-circle right-circle">
                            <p class="number">
                                2
                            </p>
                        </div>
                        <div class="content-info-two">
                            <h3 class="subtitle">Acesso à conteúdo de qualidade</h3>
                            <p class="text">
                                Conteúdo especializado e de alta
                                qualidade sobre uma variedade de
                                tópicos.
                            </p>
                        </div>
                    </div>
                    <div class="content-info-right-bottom">
                        <div class="circle bottom-circle right-circle">
                            <p class="number">
                                4
                            </p>
                        </div>
                        <div class="content-info-four">
                            <h3 class="subtitle">Praticidade</h3>
                            <p class="text">
                                Assine de forma rápida e prática
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-card-content class="mat-card-content-light">
            <div class="mat-card-content">
                <mat-card-title class="mat-card-title-light">
                    Cadastro
                </mat-card-title>
                <form action="" [formGroup]="accountDetails">
                    <label for="name">Nome</label>
                    <input class="input" type="text" formControlName="name" id="name"
                    (ngModelChange)="inputTouched()">
                    <div class="error-container">
                        <div *ngFor="let validation of validationMessages.name; let i = index" class="error-content">
                            <p class="error-message"
                                *ngIf="accountDetails.get('name')?.hasError(validationMessages.name[i].type)
                                 && accountDetails.get('name')?.dirty">
                                {{validationMessages.name[i].message}}
                            </p>
                        </div>
                    </div>

                    <label for="email">E-mail</label>
                    <input class="input" type="text" formControlName="email" id="email"
                    (ngModelChange)="inputTouched()" maxlength="40" autocomplete="email">
                    <div class="error-container">
                        <div *ngFor="let validation of validationMessages.email; let i = index" class="error-content">
                            <p class="error-message"
                                *ngIf="accountDetails.get('email')?.hasError(validationMessages.email[i].type)
                                 && accountDetails.get('email')?.dirty">
                                {{validationMessages.email[i].message}}
                            </p>
                        </div>
                    </div>

                    <label for="birthDate">Data de Nascimento</label>
                    <input class="input" type="text" formControlName="birthDate" id="birthDate"
                    (ngModelChange)="inputTouched()" maxlength="10" (keydown)="blockLetters($event)">
                    <div class="error-container">
                        <div *ngFor="let validation of validationMessages.birthDate; let i = index" class="error-content">
                            <p class="error-message"
                                *ngIf="accountDetails.get('birthDate')?.hasError(validationMessages.birthDate[i].type)
                                 && accountDetails.get('birthDate')?.dirty">
                                {{validationMessages.birthDate[i].message}}
                            </p>
                        </div>
                    </div>

                    <label for="password">Senha</label>
                    <div class="password-container">
                        <input class="input" [type]="hide ? 'password' : 'text'" formControlName="password"
                            (ngModelChange)="inputTouched()" maxlength="30" autocomplete="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                            class="icon-button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </div>
                    <div class="error-container">
                        <div *ngFor="let validation of validationMessages.password; let i = index" class="error-content">
                            <p class="error-message"
                                *ngIf="accountDetails.get('password')?.hasError(validationMessages.password[i].type) && accountDetails.get('password')?.dirty">
                                {{validationMessages.password[i].message}}
                            </p>
                        </div>
                    </div>

                    <label for="confirmPassword">Confirmar senha</label>
                    <div class="password-container">
                        <input class="input" [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
                            (ngModelChange)="inputTouched()" maxlength="30" autocomplete="password">
                        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button"
                            class="icon-button">
                            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </div>
                    <div class="error-container">
                        <div *ngFor="let validation of validationMessages.confirmPassword; let i = index" class="error-content">
                            <p class="error-message"
                                *ngIf="accountDetails.get('confirmPassword')?.hasError(validationMessages.confirmPassword[i].type) && accountDetails.get('confirmPassword')?.dirty">
                                {{validationMessages.confirmPassword[i].message}}
                            </p>
                        </div>
                    </div>

                    <label for="keyWord">Palavra ou frase preferida</label>
                    <input class="input" type="text" formControlName="keyWord" id="keyWord"
                    (ngModelChange)="inputTouched()">
                    <div class="error-container">
                        <div *ngFor="let validation of validationMessages.keyWord; let i = index" class="error-content">
                            <p class="error-message"
                                *ngIf="accountDetails.get('keyWord')?.hasError(validationMessages.keyWord[i].type)
                                 && accountDetails.get('keyWord')?.dirty">
                                {{validationMessages.keyWord[i].message}}
                            </p>
                        </div>
                    </div>
                    <!-- <section class="section">
                        <mat-checkbox>
                            Li e aceito os Termos de Condições e Política de Privacidade
                        </mat-checkbox>
                    </section> -->
                    <button mat-raised-button class="mat-button" (click)="send()" type="submit">
                        <p class="mat-button-content">Cadastrar</p>
                    </button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>