.mat-card {
    height: 314px;
    text-align: center;
}

.img {
    padding-top: 43px;
    padding-bottom: 22px;
}

h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

h3 {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.mat-button {
    padding-left: 16px; 
    border-radius: 0px 15px;
}