<div class="mat-card" *ngIf="successMessage">
    <div style="display: flex; justify-content: end;">
        <button mat-button class="mat-button" (click)="close()" style="padding-left: 16px;">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
    <img src="assets/check-circle.png" alt="check-circle" class="img">
    <h1>
        Cadastro efetuado com sucesso!
    </h1>
    <h3 style="width: 374px; margin: auto;">
        Você receberá um código de verificação no seu e-mail.
    </h3>
</div>
<div class="mat-card" *ngIf="!successMessage">
    <div style="display: flex; justify-content: end;">
        <button mat-button class="mat-button" (click)="close()" style="padding-left: 16px;">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
    <img src="assets/check-circle_svgrepo.com.png" alt="check-circle" class="img">
    <h1>
        E-mail já cadastrado
    </h1>
    <h3 style="width: 374px; margin: auto;">
        O e-mail que você utilizou já foi cadastrado anteriormente. Faça login para ter acesso a sua conta
    </h3>
</div>