<div style="margin-bottom: 5rem;">
    <div id="div-ux01">
        <div class="div-ux01--center">
            <div class="div-ux01__text-content">
                <h1>
                    <b>{{career!.title}}</b>
                </h1>
                <p class="div-ux01__p1">
                    {{career!.subTitle}}
                </p>
                <p class="div-ux01__p2">
                    {{career!.content}}
                </p>
            </div>
            <div class="div-ux01__img">
                <img [src]="career!.contentImage || 'assets/bro.png'" alt="" height="439px" width="439px">
            </div>
        </div>

    </div>
    <div id="div-ux02">
        <div id="div-ux02__text-content">
            <h2>
                <b>{{career!.contentTitle}}</b>
            </h2>
            <p class="div-ux02__p3">
                {{career!.contentSubtitle}}
            </p>
            <button>Inscreva-se na Trilha</button>
        </div>
        <div class="div-ux02--center">
            <div class="div-ux02__img">
                <img class="div-ux02__img01" src="./assets/Ponto da carreira 01.svg" alt="">
                <img class="div-ux02__img02" src="./assets/Line 01.svg" alt="">
                <img class="div-ux02__img01" src="./assets/Ponto da carreira 02.svg" alt="">
                <img class="div-ux02__img03" src="./assets/Line 02.svg" alt="">
                <img class="div-ux02__img01" src="./assets/Ponto da carreira 03.svg" alt="">
                <img class="div-ux02__img02" src="./assets/Line 03.svg" alt="">
            </div>
            <div class="div-ux02--center02">
                <div class="div-ux02__title01">
                    <h3 class="div-ux02__p4"><b>Iniciante</ b>
                    </h3>
                </div>
                <div class="div-ux02__paragraph01">
                    <div *ngFor="let course of career!.categories![0].items; let i = index">
                        <p class="div-ux02__p4">
                            &bull; {{course.topic}}
                        </p>
                    </div>
                </div>
                <div class="div-ux02__title01">
                    <h3 class="div-ux02__p4"><b>Intermediário</b></h3>
                </div>
                <div class="div-ux02__paragraph01">
                    <div *ngFor="let course of career!.categories![1].items; let i = index">
                        <p class="div-ux02__p4">
                            &bull; {{course.topic}}
                        </p>
                    </div>
                </div>
                <div class="div-ux02__title01">
                    <h3 class="div-ux02__p4"><b>Avançado</b></h3>
                </div>
                <div class="div-ux02__paragraph01">
                    <div *ngFor="let course of career!.categories![2].items; let i = index">
                        <p class="div-ux02__p4">
                            &bull; {{course.topic || 'Valor não disponível' }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>