<header>
    <div id="header-div">
        <div class="div-img">
            <a (click)="goBack()" style="cursor: pointer;"><img id="img1" src="assets/Vector.png" alt="" width="30px" height="30px"></a>
            <img id="img2" src="assets/Group 1524.png" alt="" width="60px" height="60px">
        </div>
        <div class="container_infos">
            <div class="div_container">
                <a>Trilhas de Conhecimento</a>
            </div>
            <div class="div_container">
                <a>Minhas Trilhas</a>
            </div>
            <div class="div_container">
                <a>Meus Favoritos</a>
            </div>
            <div class="div_container">
                <a>Comunidade</a>
            </div>
        </div>
        <div class="div-login">
            <div>
                <img src="./assets/bell.svg" alt="" style="padding-right: 30px;">
            </div>
            <div>
                <img src="./assets/simbolo-logado.svg" alt="">
            </div>
        </div>
    </div>
</header>