<div class="container">
    <div class="menu">
        <a href="#" class="link-img">
            <img src="assets/logo-pipoca-agil.png" alt="logo-pipoca-agil">
        </a>
        <a href="#" class="link-text n-border-text">Sobre</a>
        <a href="#" class="link-text n-border-text">Galeria de Fotos</a>
        <a href="#" class="link-text n-border-text">Trilhas de Conhecimentos</a>
        <a href="#" class="link-text n-border-text">Clube de Assinantes</a>
        <a routerLink="/login" class="link-text border-text login-text">Login</a>
        <a href="#" class="link-text border-text create-text">Criar conta</a>
    </div>
</div>