<div class="container">
    <div class="menu">
        <a href="http://localhost:4200/home">
            <img src="assets/logo-pipoca-agil.png" alt="logo-pipoca-agil">
        </a>
        <div class="box-link-text">
            <a href="http://localhost:4200/home" class="link-text">Sobre</a>
            <a href="http://localhost:4200/home" class="link-text">Galeria de Fotos</a>
            <a href="http://localhost:4200/home" class="link-text">Trilhas de Conhecimentos</a>
            <a href="http://localhost:4200/home" class="link-text">Clube de Assinantes</a>
            <a href="http://localhost:4200/home" class="link-text border-text login-text">Login</a>
            <a href="http://localhost:4200/home" class="link-text border-text create-text">Criar conta</a>
        </div>
    </div>
</div>
