.container {
    background-color: var(--primary);
    height: 690px;
}

.menu {
    max-width: 1200px;
    margin: auto;
    background-color: var(--primary);
}

a {
    display: inline-block;
    vertical-align: top;
}

.box-link-text {
    display: inline-block;
    padding-left: 92px;
}

.link-img {
    margin-right: 93px;
}

.link-text {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.n-border-text {
    margin-right: 42px;
    margin-top: 52px;
}

.border-text {
    border: 1px solid var(--secondary);
    border-radius: 100px;
    padding: 10px 30px;
    margin-top: 40px;
}

.login-text {
    color: var(--secondary);
    ;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-left: 50px;
}

.create-text {
    color: var(--primary);
    background-color: var(--secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    margin-left: 15px;
}