<div class="container">
    <div class="menu">
        <a class="link-img">
            <img src="assets/logo-pipoca-agil-grande.png" alt="logo-pipoca-agil" width="110px">
        </a>
        <a class="link-text n-border-text">Sobre</a>
        <a class="link-text n-border-text">Galeria de Fotos</a>
        <a routerLink="/knowledge-trail" class="link-text n-border-text">Trilhas de Conhecimentos</a>
        <a class="link-text n-border-text">Clube de Assinantes</a>
        <a routerLink="/login" class="link-text border-text login-text">Login</a>
        <a class="link-text border-text create-text" style="cursor: pointer;" (click)="scrollToRegister()">Criar conta</a>
    </div>
</div>