h2 {
    width: 329px;
    color: #372149;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    padding-left: 283px;
}

.mat-card {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: auto;
}

.mat-card-content-dark {
    background-color: #372149;
    border-radius: 5px 0px 0px 5px;
    height: 526px;
    width: 447px;
}

.mat-card-content-light {
    background-color: #D9B7F4;
    border-radius: 0px 5px 5px 0px;
    height: 526px;
    width: 350px;
}