<div class="container">
    <h2 class="title">Clube de assinantes</h2>
    <mat-card class="mat-card">
        <mat-card-content class="mat-card-content-dark">
            <h2 class="title-content">
                Preencha o formulário e tenha
                acesso aos conteúdos exclusivos
            </h2>
            <div class="circle-container">
                <div class="circle top-circle left-circle">
                    <p class="number">
                        1
                    </p>
                </div>
                <div class="circle bottom-circle left-circle">
                    <p class="number">
                        2
                    </p>
                </div>
            </div>
            <div class="circle-container">
                <div class="circle top-circle right-circle">
                    <p class="number">
                        3
                    </p>
                </div>
                <div class="circle bottom-circle right-circle">
                    <p class="number">
                        4
                    </p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content class="mat-card-content-light">

        </mat-card-content>
    </mat-card>
</div>