:root {
    --primary: #372149;
    --primary-dark: 
    --primary-light:
}

.title {
    width: 329px;
    color: var(--primary);
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    padding-left: 100px;
    padding-top: 20px;
}

.container {
    height: 100%;
    width: 1000px;
    margin: auto;
    background-color: white;
    position: relative;
}

.mat-card {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: auto;
}

.container-info {
    display: inline-flex;
}

.container-info-left {
    display: inline-flex;
    flex-direction: column;
}

.content-info-left-top {
    display: inline-flex;
    height: 150px;
}

.content-info-one {
    margin-left: 30px;
    margin-top: 30px;
    width: 150px;
}

.content-info-left-botton {
    display: inline-flex;
    height: 150px;
}

.content-info-two {
    margin-left: 30px;
    width: 150px;
}

.subtitle {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

.text {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
}

.container-info-right {
    display: inline-flex;
    flex-direction: column;
}

.container-numbers {
    display: inline-block;
}

.container-text {
    display: inline-block;
}

.circle {
    border-radius: 50%;
    background-color: #FDDC5C;
    height: 27px;
    width: 27px;
}

.top-circle {
    margin-top: 30px;
}

.bottom-circle {
    margin-top: 0px;
}

.left-circle {
    margin-left: 30px;
}

.right-circle {
    margin-left: 50px;
}

.number {
    color: var(--primary);
    font-style: normal;
    font-weight: 700;
    padding-left: 9px;
    padding-top: 4px;
}

.mat-card-title-dark {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    padding-left: 30px;
    padding-top: 60px;
}

.mat-card-content-dark {
    background-color: #372149;
    border-radius: 5px 0px 0px 5px;
    height: 526px;
    width: 447px;
}

.mat-card-title-light {
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 25px;
}

.mat-card-content-light {
    background-color: #D9B7F4;
    border-radius: 0px 5px 5px 0px;
    height: 526px;
    width: 350px;
}

.mat-form-field {
    border-radius: 10px;
    padding-left: 30px;
    height: 60px;
    width: 265px;
}
