<div class="container">
    <h2 class="title">Clube de assinantes</h2>
    <mat-card class="mat-card">
        <mat-card-content class="mat-card-content-dark">
            <mat-card-title class="title">
                Preencha o formulário e tenha
                acesso aos conteúdos exclusivos
            </mat-card-title>
            <div class="container-info">
                <div class="container-info-left">
                    <div class="content-info-left-top">
                        <div class="circle top-circle left-circle">
                            <p class="number">
                                1
                            </p>
                        </div>
                        <div class="content-info-one">
                            <h3 class="subtitle">Comunidade</h3>
                            <p class="text">
                                Comunidade em torno do conteúdo
                                que pode te levar a discussões,
                                grupos online específicos.
                            </p>
                        </div>
                    </div>

                    <div class="content-info-left-bottom">
                        <div class="circle bottom-circle left-circle">
                            <p class="number">
                                3
                            </p>
                        </div>
                        <div class="content-info-three">
                            <h3 class="subtitle">Acesso a especialistas</h3>
                            <p class="text">
                                Convidados especialistas que te
                                permitem ouvir insights valiosos
                                e informações de fontes
                                confiáveis.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="container-info-right">
                    <div class="content-info-right-top">
                        <div class="circle top-circle right-circle">
                            <p class="number">
                                2
                            </p>
                        </div>
                        <div class="content-info-two">
                            <h3 class="subtitle">Acesso à conteúdo de qualidade</h3>
                            <p class="text">
                                Conteúdo especializado e de alta
                                qualidade sobre uma variedade de
                                tópicos.
                            </p>
                        </div>
                    </div>
                    <div class="content-info-right-bottom">
                        <div class="circle bottom-circle right-circle">
                            <p class="number">
                                4
                            </p>
                        </div>
                        <div class="content-info-four">
                            <h3 class="subtitle">Praticidade</h3>
                            <p class="text">
                                Assine de forma rápida e prática
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-card-content class="mat-card-content-light">
            <div class="mat-card-content">
                <mat-card-title class="mat-card-title-light">
                    Cadastro
                </mat-card-title>
                <form action="" [formGroup]="accountDetails">

                    <mat-form-field class="mat-form-field">
                        <mat-label>
                            Nome
                        </mat-label>
                        <input type="text" matInput class="mat-input" name="name" formControlName="name" required
                            maxlength="32">
                        <mat-error
                            *ngIf="accountDetails.get('name')?.hasError(validationMessages.name[0].type)">{{validationMessages.name[0].message}}
                        </mat-error>
                        <mat-error
                            *ngIf="accountDetails.get('name')?.hasError(validationMessages.name[1].type)">{{validationMessages.name[1].message}}
                        </mat-error>
                        <mat-error
                            *ngIf="accountDetails.get('name')?.hasError(validationMessages.name[2].type)">{{validationMessages.name[2].message}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class=" mat-form-field">
                        <mat-label>
                            E-mail
                        </mat-label>
                        <input type="text" matInput class="mat-input" name="email" formControlName="email" required
                            maxlength="40">
                        <mat-error
                            *ngIf="accountDetails.get('email')?.hasError(validationMessages.email[0].type)">{{validationMessages.email[0].message}}
                        </mat-error>
                        <mat-error
                            *ngIf="accountDetails.get('email')?.hasError(validationMessages.email[1].type)">{{validationMessages.email[1].message}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="mat-form-field">
                        <mat-label for="birhtDate">
                            Data de nascimento
                        </mat-label>
                        <input type="text" matInput class="mat-input" name="birthDate" formControlName="birthDate"
                            id="birthDate" required>
                        <mat-error
                            *ngIf="accountDetails.get('birthDate')?.hasError(validationMessages.birthDate[0].type)">{{validationMessages.birthDate[0].message}}
                        </mat-error>
                        <mat-error
                            *ngIf="accountDetails.get('birthDate')?.hasError(validationMessages.birthDate[1].type)">{{validationMessages.birthDate[1].message}}
                        </mat-error>
                        <mat-error
                            *ngIf="accountDetails.get('birthDate')?.hasError(validationMessages.birthDate[2].type)">{{validationMessages.birthDate[2].message}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="mat-form-field">
                        <mat-label>
                            Senha
                        </mat-label>
                        <input type="text" matInput name="password" class="mat-input"
                            [type]="hide ? 'password' : 'text'" required formControlName="password" maxlength="30">
                        <button mat-icon-button matSuffix (click)="hide = !hide" class="mat-icon-button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="accountDetails.get('password')?.hasError(validationMessages.password[0].type)">{{validationMessages.password[0].message}}
                        </mat-error>
                        <mat-error
                            *ngIf="accountDetails.get('password')?.hasError(validationMessages.password[1].type)">{{validationMessages.password[1].message}}
                        </mat-error>
                        <mat-error
                            *ngIf="accountDetails.get('password')?.hasError(validationMessages.password[2].type)">{{validationMessages.password[2].message}}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="mat-form-field">
                        <mat-label>
                            Confirmar Senha
                        </mat-label>
                        <input type="text" matInput name="password" class="mat-input"
                            [type]="hideConfirm ? 'password' : 'text'" required maxlength="30"
                            formControlName="confirmPassword">
                        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" class="mat-icon-button">
                            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="accountDetails.get('confirmPassword')?.hasError(validationMessages.confirmPassword[0].type)">{{validationMessages.confirmPassword[0].message}}
                        </mat-error>
                        <mat-error
                            *ngIf="accountDetails.get('confirmPassword')?.hasError(validationMessages.confirmPassword[1].type)">{{validationMessages.confirmPassword[1].message}}
                        </mat-error>
                    </mat-form-field>
                    <!-- <section class="section">
                        <mat-checkbox>
                            Li e aceito os Termos de Condições e Política de Privacidade
                        </mat-checkbox>
                    </section> -->
                    <button mat-raised-button class="mat-button" (click)="send()">
                        <p class="mat-button-content">Cadastrar</p>
                    </button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>