h2 {
    width: 329px;
    color: #372149;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    padding-left: 283px;
}

.container-master {
    width: 1000px;
}

.mat-card {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: auto;
}

.container {
    display: inline-block;
}

.circle {
    border-radius: 50%;
    background-color: white;
    color: black;
    height: 27px;
    width: 27px;
}

.top-circle {
    margin-top: 30px;
}

.bottom-circle {
    margin-top: 120px;
}

.left-circle {
    margin-left: 30px;
}

.right-circle {
    margin-left: 200px;
}

.title-content {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    padding-left: 30px;
    padding-top: 80px;
}

.mat-card-content-dark {
    background-color: #372149;
    border-radius: 5px 0px 0px 5px;
    height: 526px;
    width: 447px;
}

.mat-card-content-light {
    background-color: #D9B7F4;
    border-radius: 0px 5px 5px 0px;
    height: 526px;
    width: 350px;
}