<div class="container">
    <h2 class="title">Clube de assinantes</h2>
    <mat-card class="mat-card">
        <mat-card-content class="mat-card-content-dark">
            <mat-card-title class="mat-card-title-dark">
                Preencha o formulário e tenha
                acesso aos conteúdos exclusivos
            </mat-card-title>
            <div class="circle-container">
                <div class="circle top-circle left-circle">
                    <p class="number">
                        1
                    </p>
                </div>
                <div class="circle bottom-circle left-circle">
                    <p class="number">
                        2
                    </p>
                </div>
            </div>
            <div class="circle-container">
                <div class="circle top-circle right-circle">
                    <p class="number">
                        3
                    </p>
                </div>
                <div class="circle bottom-circle right-circle">
                    <p class="number">
                        4
                    </p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-content class="mat-card-content-light">
            <mat-card-title class="mat-card-title-light">
                Cadastro
            </mat-card-title>
            <form action="">
                <mat-form-field class="mat-form-field">
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <input type="text" matInput>
                </mat-form-field>

            </form>
        </mat-card-content>
    </mat-card>
</div>