<div class="content">
    <div class="box-subtitle">
        <h3 class="subtitle">Nome</h3>
        <h3 class="subtitle">Data de Nascimento</h3>
        <h3 class="subtitle" style="margin-bottom: 70px;">E-mail</h3>
        <h3 class="subtitle">Senha</h3>
    </div>
    <div class="box-text">
        <input class="input" type="text" value="{{register.name}}" disabled *ngIf="loadedData">
        <input class="input" type="text" value="..." disabled *ngIf="!loadedData">
        <input class="input" type="text" value="{{register.birthDate}}" disabled *ngIf="loadedData">
        <input class="input" type="text" value="..." disabled *ngIf="!loadedData">
        <input class="input" type="text" value="{{register.email}}" disabled *ngIf="loadedData">
        <input class="input" type="text" value="..." disabled *ngIf="!loadedData">
        <input class="input" type="text" value="**************" disabled *ngIf="loadedData">
        <input class="input" type="text" value="..." disabled *ngIf="!loadedData">
        <button class="edit-button button" (click)="updateAccount()">
            Editar
        </button>
    </div>
    <div class="box-button">
        <button class="delete-button button" (click)="deleteAccount()">
            Excluir conta
        </button>
    </div>
</div>