.container {
    background-color: #E9ECEF;
    max-width: 1200px;
    height: 680px;
    margin: 100px auto;
    padding: 80px 118px 104px 96px;
    border-radius: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}

.box-subtitle {
    width: 280px;
}

.box-icon {
    padding-top: 8px;
}

.text {
    margin-top: 9px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.link-icon {
    display: inline-block;
    text-decoration: none;
    margin-left: 80px;
    cursor: pointer;
}

.content {
    height: 340px;
    margin-top: 100px;
    width: 500px;
    display: flex;
}