#div-ux01 {
    background-color: #FFCF52;
    padding-top: 6.25rem;
    padding-bottom: 12.5rem;
}

.div-ux01--center {
    max-width: 75rem;
    margin: auto;
    position: relative
}

.div-ux01__text-content {
    width: 62%
}

.div-ux01__img {
    position: absolute;
    height: 439px;
    width: 439px;
    top: 70px;
    right: 80px;
}

h1 {
    margin-bottom: 4rem;
    font-family: "Fredoka", serif;
    font-weight: 600px;
    font-size: 40px;
    color: #252525;
    display: flex;
    flex-direction: column;
}

.div-ux01__p1 {
    margin: 0px 0 71px 0;
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 24px;
    line-height: 30px;
    color: #252525;
}

.div-ux01__p2 {
    font-family: sans-serif;
    padding-right: 6rem;
    margin: 71px 0 0px 0;
    font-weight: 400px;
    font-size: 22px;
    line-height: 30px;
    color: #252525;
}


/* INÍCIO DA div-ux02
*/

#div-ux02 {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: auto
}

.div-ux02__text-content {
    font-family: sans-serif;
    margin: auto;
    font-weight: 400px;
    font-size: 22px;
    line-height: 30px;
    color: #252525;
    display: flex;
}

h2 {
    margin: 5rem 0 4rem 0;
    font-family: "Fredoka", serif;
    font-weight: 600px;
    font-size: 40px;
    color: #252525;
    display: flex;
    flex-direction: column;
}

.div-ux02__p3 {
    margin: 56px 243px 43px 0;
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 24px;
    line-height: 30px;
    color: #252525;
}

button {
    border: 2px solid #0020c0;
    margin: 43px 0 40px 0;
    width: 207px;
    height: 44px;
    background-color: #0020C0;
    border-radius: 50px;
    font-family: "Fredoka", serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 20px;
    line-height: 22.4px;
    color: #FFFFFF;
    cursor: pointer;
    }

button:hover {
    background-color: #ffffff;
    color: #0020C0;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.div-ux02--center {
    display: flex;
    margin: auto;
}

.div-ux02__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-ux02__img01 {
    width: 5rem;
    height: 5rem;
}

.div-ux02__img02 {
    padding-left: 3rem;
    height: 15rem;
}

.div-ux02__img03 {
    padding-right: 2rem;
    height: 15rem;
}

.div-ux02--center02 {
    display: flex;
    flex-direction: column;
}

.div-ux02__title01 {
    display: flex;
    align-items: center;
    height: 80px;
}

h3 {
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 32px;
    line-height: 43.58px;
    color: #252525;
}

.div-ux02__paragraph01{
    display: flex;
    align-items: center;
    height: 240px;
    margin-left: 1.25rem;
}

.div-ux02__p4 {
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 22px;
    line-height: 30px;
    color: #252525;
    margin: 0
}