 <div>
    <div id="div-ux01">
        <div class="div-ux01--center">
            <h1>
                <b>Nossa Trilha UX/UI Design</b>
            </h1>
            <p class="div-ux01__p1">
                Encontre um conteúdo selecionado e estruturado para apoiar o seu crescimento como designer!
            </p>
            <p class="div-ux01__p2">
                A Curadoria de UX/UI Design oferece trilhas organizadas que abrangem desde o básico ao avançado, focadas nas habilidades e competências mais valorizadas do mercado. Com base em pesquisas para entender as necessidades da comunidade, nosso conteúdo é desenvolvido com cuidado e dedicação por voluntários experientes na área de UX e UI, criando uma experiência de aprendizado prática e alinhada às demandas reais do setor.
            </p>
        </div>
        <div class="div-ux01__img div-ux01--center">
            <img src="./assets/amico.svg" alt="">
        </div>
    </div>
    <div id="div-ux02">
        <div id="div-ux02__text-content">
            <h1>
                <b>Trilha de UX/UI Design</b>
            </h1>
            <p class="div-ux01__p3">
                A Trilha de UX/UI Design é um percurso de aprendizado voltado para quem deseja entender e desenvolver habilidades nas áreas de experiência do usuário (UX) e interface do usuário (UI).
            </p>
            <button>Inscreva-se na Trilha</button>
        </div>
        <div class="div-ux02__container">
            <div class="div-ux02__img">
                <img class="div-ux02__img01" src="./assets/Ponto da carreira 01.svg" alt="">
                <img class="div-ux02__img02" src="./assets/Line 01.svg" alt="">
                <img class="div-ux02__img01" src="./assets/Ponto da carreira 02.svg" alt="">
                <img class="div-ux02__img03" src="./assets/Line 02.svg" alt="">
                <img class="div-ux02__img01" src="./assets/Ponto da carreira 03.svg" alt="">
                <img class="div-ux02__img02" src="./assets/Line 03.svg" alt="">
                <img class="div-ux02__img01" src="./assets/Ponto da carreira 04.svg" alt="">
                <img class="div-ux02__img03" src="./assets/Line 04.svg" alt="">
                <img class="div-ux02__img01" src="./assets/Ponto da carreira 05.svg" alt="">
            </div>
            <div class="div-ux02__text-content02">
                <div>
                    <h3 class="div-ux01__p4" style="padding-top: 23px;"><b>Iniciante</b></h3>
                    <p class="div-ux01__p4"> &bull; Introdução ao UX/Ui Design
                        &bull; Princípios básicos <br>
                        &bull; Ferramentas de Design <br>
                        &bull; Pesquisa e análise de usuário <br>
                    </p>
                    <h3 class="div-ux01__p4" style="padding-top: 120px;"><b>Intermediário</b></h3>
                    <p class="div-ux01__p4">
                        &bull; Métodos de design <br>
                        &bull; Acessibilidade e Inclusão <br>
                        &bull; Metodologias ágeis (Scrum e Kanban) <br>
                        &bull; Análise de Dados e Métricas <br>
                    </p>
                    <h3 class="div-ux01__p4" style="padding-top: 80px;"><b>Avançado</b></h3>
                    <p class="div-ux01__p4">
                        &bull; Desenvolvimento de Portfólio Avançado <br>
                        &bull; Estratégia de Design e Negócios <br>
                        &bull; Gestão de Design <br>
                        &bull; Tendências e Inovações em UX/UI <br>
                    </p>
                    <h3 class="div-ux01__p4" style="padding-top: 86px;"><b>Especializado</b></h3>
                    <p class="div-ux01__p4">
                        &bull; UX Research <br>
                        &bull; UX Writing <br>
                        &bull; UI Animation e microinterações <br>
                    </p>
                    <h3 class="div-ux01__p4" style="padding-top: 115px;"><b>Aprendizado Constante</b></h3>
                    <p class="div-ux01__p4">
                        &bull; Figma Avançado <br>
                        &bull; Análise de estudos de caso complexo <br>
                        &bull; Ética no design e impactos sociais <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>