<div id="container-main">
    <div id="container-main__container-second">
        <div class="container-main__container-link">
            <div class="container-main__container-icon">
                <p style="text-align: center"><b>Siga o Pipoca Ágil nas redes sociais</b></p>
                <div class="container-main__container-img">
                    <img src="assets/ri-youtube-fill.png" alt="" width="32px" height="32px">
                    <img src="assets/ri-spotify-fill.png" alt="" width="32px" height="32px">
                    <img src="assets/ri-instagram-fill.png" alt="" width="32px" height="32px">
                    <img src="assets/ri-facebook-circle-fill.png" alt="" width="32px" height="32px">
                    <img src="assets/ri-linkedin-box-fill.png" alt="" width="32px" height="32px">
                </div>
            </div>
            <div class="div-icons">
                <p><u><b>Início</b></u></p>
            </div>
            <div class="div-icons">
                <p><u><b>Sobre os<br> criadores</b></u></p>
            </div>
            <div class="div-icons">
                <p><u><b>Emitir<br> Certificado</b></u></p>
            </div>
            <div class="div-icons">
                <p><u><b>Fale com a gente</b></u></p>
            </div>
            <div class="div-icons">
                <p><u><b>Quero<br> voluntariar</b></u></p>
            </div>
            <div class="div-icons">
                <p><u><b>Quero<br> mentorar</b></u></p>
            </div>
        </div>
        <div id="footer-img1">
            <img src="assets/Vector 2.png" alt="" width="1200px" height="1px">
        </div>

        <div style="margin: 30px 0 20px 0;">
            <p style="text-align: center;">
                © 2024 Time Rosa <br>
                Todos os direitos reservados
            </p>
        </div>
    </div>
    <a style="cursor: pointer" (click)="scrollToTop()"><img id="arrow-img" src="assets/arrow-top.png" alt=""></a>
</div>