#container-main {
    position: relative;
    background-color: #F2F2F2;
}

#container-main__container-second {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.container-main__container-link {
    display: flex;
}

.container-main__container-img {
    display: flex;
    justify-content: space-between;
}

.container-main__container-icon {
    margin-top: 50px;
    color: #252525;
}

.container-main__container-icon:hover {
    color: black;
}

.div-icons {
    display: flex;
    flex-direction: row;
    border-radius: 40%;
    border-bottom: #F2F2F2;
    padding: 50px 50px 50px 50px;
    justify-content: center;
    text-align: center;
    color: #252525;
    cursor: pointer;
}

.div-icons:hover {
    color: black;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

#footer-img1 {
    display: flex;
    align-items: center;
}

#arrow-img {
    position: fixed;
    right: 30px;
    bottom: 50px;
}

