<div id="div-footer">
    <div class="div-footer">
        <p style="text-align: center; margin-top: 20%">Siga o Pipoca Ágil nas redes sociais</p>    
        <img src="assets/Frame 1441.png" alt="" width="200px">
    </div>
    <div class="div-icons">
        <p><u>Início</u></p>
    </div>
    <div  class="div-icons">
        <p><u>Sobre os<br> criadores</u></p>
    </div>
    <div class="div-icons">
        <p><u>Emitir<br> Certificado</u></p>
    </div>
    <div class="div-icons">
        <p><u>Fale com a gente</u></p>
    </div>
    <div class="div-icons">
        <p><u>Quero<br> voluntariar</u></p>
    </div>
    <div class="div-icons">
        <p><u>Quero<br> mentorar</u></p>
    </div>
</div>
<div id="footer-img1">
    <img  src="assets/Vector 2.png" alt="" width="1200px" height="1px">
</div>
<div>
    <img src="assets/Group 1435.png" alt="" width="200px" height="60px">
</div>