.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}

.box-subtitle {
    margin-top: 5px;
    width: 280px;
}

.box-text {
    width: 300px;
}

.box-icon {
    padding-top: 8px;
}

.text {
    margin-top: 9px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.link-icon {
    display: inline-block;
    text-decoration: none;
    margin-left: 80px;
    cursor: pointer;
}

.content {
    height: 340px;
    margin-top: 100px;
    display: flex;
}

form {
    width: 320px
}

.input {
    width: 267px;
    height: 46px;
    border: solid 1.5px white;
    border-radius: 10px;
    padding: 0;
    font-size: 1.1em;
    text-align: center;
}

.input:hover {
    border: solid 1.5px var(--primary-light);
}

.input:focus {
    outline: none;
    border: solid 1.5px var(--primary-dark);
}

input.ng-invalid {
    border: solid 1.5px red !important;
}

.error-message {
    color: red;
    font-size: 0.85em;
    padding-left: 5px;
    margin-bottom: 0;
}

.mat-button {
    width: 269px;
    height: 66px;
    border-radius: 7px;
}

.save-button {
    position: relative;
    left: 430px;
    top: 108px;
}

.update-button {
    position: relative;
    top: 174px;
}

.icon-button {
    z-index: 1;
    position: relative;
    right: 60px;
}

mat-icon {
    color: var(--primary-dark);
}

.mat-button-content {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 12px;
}