<div class="header">
    <div class="box-title">
        <h2 class="title">Alterar senha</h2>
    </div>
    <div class="box-icon">
        <a class="link-icon" (click)="deleteAccount()">
            <img src="assets/person-x.png" alt="person-icon" class="person-icon">
        </a>
    </div>
</div>
<div class="content">
    <div class="box-subtitle">
        <h3 class="subtitle">Senha</h3>
        <h3 class="subtitle" style="margin-bottom: 135px;">Nova Senha</h3>
    </div>
    <div class="box-text">
        <form action="" [formGroup]="accountDetails">
            <div style="display: flex;">
                <input class="input" [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="icon-button">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <div style="height: 40px;">
                <div *ngFor="let validation of validationMessages.password; let i = index">
                    <p class="error-message"
                        *ngIf="accountDetails.get('password')?.hasError(validationMessages.password[i].type)">
                        {{validationMessages.password[i].message}}
                    </p>
                </div>
            </div>
            <div style="display: flex;">
                <input class="input" [type]="hideConfirm ? 'password' : 'text'" formControlName="newPassword">
                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button"
                    class="icon-button">
                    <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
            <div style="height: 40px;">
                <div *ngFor="let validation of validationMessages.password; let i = index">
                    <p class="error-message"
                        *ngIf="accountDetails.get('newPassword')?.hasError(validationMessages.password[i].type)">
                        {{validationMessages.password[i].message}}
                    </p>
                </div>
            </div>
            <button mat-raised-button class="mat-button update-button" type="button"
                style="background-color: var(--primary);" (click)="navigate()">
                <p class="mat-button-content">Voltar</p>
            </button>
        </form>
    </div>
    <div>
        <button mat-raised-button class="mat-button save-button" type="button" style="background-color: var(--success);"
            (click)="save()">
            <p class="mat-button-content">Salvar</p>
        </button>
    </div>
</div>