.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.content-dark {
    flex: 60%;
    background-color: var(--primary);
    text-align: center;
    line-height: 100vh;
}

.content-light {
    position: relative;
    padding-left: 6%;
    background-color: var(--gray-200);
    flex: 40%;
}

.center-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.center-content {
    margin-top: -20%;
}

.text-font {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.img-welcome {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.img-logo {
    margin-left: 75px;
    width: 180px;
}

.title {
    color: var(--gray-800);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    width: 230px;
}

.subtitle {
    color: var(--gray-800);
    margin-left: 5px;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    width: 343px;
}

.forgout-password {
    color: var(--primary);
}

.text-link {
    text-decoration: none;
}

.mat-button {
    margin: auto;
    width: 100%;
    max-width: 343px;
    height: 51px;
    margin-top: 20px;
}

.mat-button-content {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 12px;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color:var(--success);
}

.mat-icon-button {
    margin-right: 20px;
}

.mat-input {
    margin-left: 15px;
}

.text-register {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: var(--gray-700);
}

.error-message-container {
    height: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

.mat-button {
    border-radius: 7px !important;
}