<div class="container">
    <div class="content-dark">
        <img src="assets/login.png" alt="" class="img-welcome">
    </div>
    <div class="content-light">
        <div class="center-container">
            <div class="center-content">
                <img src="assets/logo-pipoca-agil-grande.png" alt="" class="img-logo">
                <h2 class="title">
                    Bem-vindo de volta!
                </h2>
                <p class="text-font subtitle">
                    Insira seus dados para fazer login
                </p>
                <form action="" class="user-data" [formGroup]="loginData">
                    <mat-form-field class="mat-form-field">
                        <mat-label>
                            E-mail
                        </mat-label>
                        <input type="text" matInput class="mat-input" name="email" formControlName="email" required
                            maxlength="40">
                    </mat-form-field>
                    <mat-form-field class="mat-form-field">
                        <mat-label>
                            Senha
                        </mat-label>
                        <input type="text" matInput class="mat-input" name="password"
                            [type]="hide ? 'password' : 'text'" required maxlength="30" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" class="mat-icon-button" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-hint align="start"><a routerLink="/forget-password" class="text-font text-link forgout-password">Esqueci minha senha?</a>
                        </mat-hint>
                    </mat-form-field>
                    <button mat-raised-button class="mat-button" (click)="enter()" type="submit">
                        <p class="mat-button-content">Entrar</p>
                    </button>
                </form>
                <div class="error-message-container">
                    <mat-error *ngIf="loginError">
                        Credenciais inválidas
                    </mat-error>
                </div>
            </div>
        </div>
        <div>
            <p href="" class="text-font text-link text-register">
                Ainda não tem uma conta? <span style="cursor: pointer;" (click)="scrollToRegister()">Crie aqui</span>
            </p>
        </div>
    </div>
</div>