<mat-card class="container">
    <h2 class="title">Dados de cadastro</h2>
    <div class="content">
        <div style="width: 250px; background-color: yellow;">
            <h3 class="subtitle">Nome</h3>
            <h3 class="subtitle">E-mail</h3>
            <h3 class="subtitle">Senha</h3>
            <h3 class="subtitle">Data de Nascimento</h3>
        </div>
        <div style="width: 250px; background-color: red;">
            <p class="text-data">Carlos Gutierrez</p>
            <p class="text-data">carlos.g@gmail.com</p>
            <p class="text-data">**************</p>
            <p class="text-data">10/11/1984</p>
        </div>
    </div>
</mat-card>