<mat-card class="container">
    <div class="header">
        <h2 class="title">Dados de cadastro</h2>
        <div>
            <img src="assets/pencil-square.png" alt="">
            <img src="assets/person-x.png" alt="">
        </div>
    </div>
    <div class="content">
        <div class="subtitle-box">
            <h3 class="subtitle">Nome</h3>
            <h3 class="subtitle">E-mail</h3>
            <h3 class="subtitle">Senha</h3>
            <h3 class="subtitle">Data de Nascimento</h3>
        </div>
        <div class="box-text">
            <p class="text" style="margin-bottom: 64px;">Carlos Gutierrez</p>
            <p class="text" style="margin-bottom: 70px;">carlos.g@gmail.com</p>
            <p class="text" style="margin-bottom: 80px;">**************</p>
            <p class="text">10/11/1984</p>
        </div>
    </div>
</mat-card>