.container {
    padding-left: 15px;
}

h1 {
    margin-top: 50px;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    color: #424242;
}

h4 {
    font-size: 15px;
    margin-bottom: 40px;
} 

.button {
    width: 289px;
    height: 66px;
    font-size: 18px;
    border-radius: 10px !important;
}

.confirm {
    background-color: var(--success);
    margin-left: 15px;
}

.cancel {
    background-color: var(--danger);
}

.close-button {
    padding-left: 16px; 
    border-radius: 0px 15px;
}