<div class="container">
    <div style="display: flex; justify-content: end;">
        <button mat-button class="close-button" (click)="close()">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
    <h1>Tem certeza que deseja excluir sua conta?</h1>
    <h4>Para reativar sua  conta, por favor cadastre novamente o e-mail utilizado.</h4>
    <button mat-button class="button cancel" style="color: white;" (click)="close()">
        Não
    </button>
    <button mat-button class="button confirm" style="color: white;" (click)="deleteAccount()">
        Sim
    </button>
</div>