<div class="container">
    <div class="content-dark">
        <img src="assets/forgot-password.jpg" alt="" class="img-welcome">
    </div>
    <div class="content-light">
        <div class="center-container">
            <div class="center-content">
                <h2 class="title text">
                    Esqueceu sua senha?
                </h2>
                <p class="text-font subtitle text">
                    Digite o e-mail cadastrado ou palavra ou frase preferida
                </p>
                <form action="" class="user-data" [formGroup]="formDetails">
                    <label for="type" class="label text">Email ou frase</label>
                    <div class="select-wrapper">
                        <select name="type" id="type" class="select" formControlName="dataType"
                        (change)="selectOption($event)">
                            <option value="Email" [selected]="true">Email</option>
                            <option value="Palavra ou Frase">Palavra ou frase</option>
                        </select>
                    </div>

                    <label for="email" class="label text">{{selectedOption}}</label>
                    <input class="input" type="text" formControlName="value" id="value" (ngModelChange)="inputTouched()">
                    <div style="height: 30px;">
                        <div *ngFor="let validation of validationMessages.value; let i = index">
                            <p class="error-message" *ngIf="formDetails.get('value')?.hasError(validationMessages.value[i].type)
                                && formDetails.get('value')?.dirty">
                                {{validationMessages.value[i].message}}
                            </p>
                        </div>
                    </div>
                    <button class="button send-button" type="submit" (click)="send()">
                        <p class="button-content">Enviar</p>
                    </button>

                    <button class="button cancel-button" type="button" (click)="navigateBack()">
                        <p class="button-content">Cancelar</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>