<div class="container">
    <div class="content-dark">
        <img src="assets/forgot-password.jpg" alt="" class="img-welcome">
    </div>
    <div class="content-light">
        <div class="center-container">
            <div class="center-content">
                <h2 class="title">
                    Esqueceu sua senha?
                </h2>
                <p class="text-font subtitle">
                    Digite o e-mail cadastrado ou palavra ou frase preferida
                </p>
                <form action="" class="user-data">
                    <label for="type" class="label">Email ou frase</label>
                    <div class="select-wrapper">
                        <select name="type" id="type" class="select">
                            <option value="keyWord">Palavra ou frase</option>
                            <option value="email">Email</option>
                        </select>
                    </div>

                    <label for="name" class="label">Email</label>
                    <input class="input" type="text" formControlName="email" id="email" maxlength="40">
                    <button mat-raised-button class="mat-button" style="background-color: var(--secondary);
                    margin-bottom: 10px;" type="submit">
                        <p class="mat-button-content">Enviar</p>
                    </button>

                    <button mat-raised-button class="mat-button" style="background-color: var(--gray-200);
                        border: solid 1px var(--primary);" type="submit">
                        <p class="mat-button-content">Cancelar</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>