.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.content-dark {
    flex: 60%;
    background-color: var(--primary);
    text-align: center;
    line-height: 100vh;
}

.content-light {
    position: relative;
    padding-left: 6%;
    background-color: var(--gray-200);
    flex: 40%;
}

.center-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.center-content {
    margin-top: -3%;
}

.text {
    color: var(--gray-800);
}

.text-font {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.img-welcome {
    width: 553px;
    height: 500px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 20px;
}

.title {
    color: var(--gray-800);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 40px;
}

.subtitle {
    color: var(--gray-800);
    font-size: 16px;
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
}

.user-data {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: auto;
}

.text-link {
    text-decoration: none;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

.input {
    width: 343px;
    height: 46px;
    border: solid 1.5px white;
    border-radius: 10px;
    padding: 0;
    font-size: 1.1em;
    text-align: center;
}

.input:hover {
    border: solid 1.5px var(--primary-light);
}

.input:focus {
    outline: none;
    border: solid 1.5px var(--primary-dark);
}

input.ng-invalid {
    border: solid 1.5px red !important;
}

.error-message {
    color: red;
    font-size: 0.85em;
    padding-left: 5px;
    margin-bottom: 0;
}

.underline {
    font-size: 16px;
}

.button {
    margin: auto;
    width: 100%;
    max-width: 343px;
    height: 66px;
    border-radius: 10px;
    cursor: pointer;
}

.button-content {
    color: var(--primary);
    font-family: system-ui;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-top: 12px;
    letter-spacing: -0.5px;
}

.send-button {
    background-color: var(--secondary);
    margin-bottom: 30px;
    border: 0;
}

.send-button:hover {
    background: #ffd83a;
}

.cancel-button {
    background-color: var(--gray-200);
    border: solid 1.7px var(--primary);
}

.cancel-button:hover {
    background-color: #dbdfe2;
}

.text-register {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: var(--gray-700);
}

.error-message-container {
    height: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

span:hover {
    color: black;
}