<div class="container">
    <div class="content-dark">
        <img src="assets/redefinir senha.png" alt="" class="img-welcome">
    </div>
    <div class="content-light">
        <div class="center-container">
            <div class="center-content">
                <h2 class="title text">
                    Redefinir senha
                </h2>
                <p class="text-font subtitle text">
                    Insira o código de verificação enviado no e-mail
                </p>
                <form action="" class="user-data" [formGroup]="formDetails">
                    <label for="code" class="label text">Código de verificação</label>
                    <input class="input" type="text" formControlName="value" id="value" (ngModelChange)="inputTouched()">
                    <div style="height: 20px;">
                        <div *ngFor="let validation of validationMessages.value; let i = index">
                            <p class="error-message" *ngIf="formDetails.get('value')?.hasError(validationMessages.value[i].type)
                                && formDetails.get('value')?.dirty">
                                {{validationMessages.value[i].message}}
                            </p>
                        </div>
                    </div>
                    <p class="text underline">
                        Não recebeu? 
                        <span style="cursor: pointer;" routerLink="/forget-password">
                            Enviar Novamente
                        </span>
                    </p>

                    <button class="button send-button" type="submit" (click)="send()">
                        <p class="button-content">Enviar</p>
                    </button>

                    <button class="button cancel-button" type="button" (click)="navigateBack()">
                        <p class="button-content">Cancelar</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>