<div class="container">
    <div class="content-dark">
        <img src="assets/redefinir senha.png" alt="" class="img-welcome">
    </div>
    <div class="content-light">
        <div class="center-container">
            <div class="center-content">
                <h2 class="title text">
                    Redefinir senha
                </h2>
                <p class="text-font subtitle text">
                    Insira o código de verificação enviado no e-mail
                </p>
                <form action="" class="user-data">
                    <label for="code" class="label text">Código de verificação</label>
                    <input class="input" type="text" formControlName="code" id="code" maxlength="40">
                    <p class="text underline">
                        Não recebeu? 
                        <span style="cursor: pointer;">
                            Enviar Novamente
                        </span>
                    </p>

                    <button mat-raised-button class="mat-button" style="background-color: var(--secondary);
                    margin-bottom: 10px;" type="submit">
                        <p class="mat-button-content">Enviar</p>
                    </button>

                    <button mat-raised-button class="mat-button" style="background-color: var(--gray-200);
                        border: solid 1px var(--primary);" type="submit">
                        <p class="mat-button-content">Cancelar</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>