<div id="first-div">
    <div id="first-div__text-content">
        <h1>Trilhas de conhecimentos</h1>
        <p>Curadoria de cursos e conteúdos gratuitos,<br> desenvolvidas com todo cuidado para te guiar no<br> caminho do conhecimento.</p>
        <button><h3>O que são as trilhas?</h3></button>
    </div>
    <div id="rectangle">
        <img src="assets/bro.png" alt="">
    </div>
</div>

<div id="second-div">
    <div class="second-div__flexbox">
        <img src="assets/scrum.png" alt="" width="48px" height="48px">
        <h3>Scrum Fundamentos</h3>
        <p>Introdução ao Scrum, papéis, sprints, backlog, entregas incrementais.</p>
    </div>
    <div class="second-div__flexbox">
        <img src="assets/Po.png" alt="" width="48px" height="48px">
        <h3>Product Owner</h3>
        <p>Gestão de backlog e stakeholders; métricas e feedbacks.</p>
    </div>
    <div class="second-div__flexbox">
        <img src="assets/SM.png" alt="" width="48px" height="48px">
        <h3>Scrum Master</h3>
        <p>Introdução ao Scrum, papéis, sprints, backlog, entregas incrementais</p>
    </div>
    <div class="second-div__flexbox">
        <img src="assets/UI.png" alt="" width="48px" height="48px">
        <h3>UX/UI Design</h3>
        <p>Princípios de UX e UI Design, pesquisa e testes de usuário.</p>
    </div>
    <div class="second-div__flexbox">
        <img src="assets/Frontend.png" alt="" width="48px" height="48px">
        <h3>Desenvolvimento Frontend</h3>
        <p>HTML, CSS, Javascript, frameworks.</p>
    </div>
    <div class="second-div__flexbox">
        <img src="assets/desenvolvedor.png" alt="" width="48px" height="48px">
        <h3>Desenvolvimento Backend</h3>
        <p>Estrutura de servidores, criação de APIs, banco de dados, autenticação.</p>
    </div>
    <div class="second-div__flexbox">
        <img src="assets/QA.png" alt="" width="48px" height="48px">
        <h3>QA (Quality Assurance)</h3>
        <p>Testes (unitários, integração, automação), planejamento de testes.</p>
    </div>
</div>

<div id="third-div">
        <div class="third-div__title">
            <h1>Escolha sua trilha e construa sua carreira!</h1>
        </div>
        <div class="third-div__content">
            <div class="third-div__flexbox">
                <h1 style="color:#0020C0;">1<br> Explore</h1>
                <p>Navegue pela carreiras de estudos e <br> escolha o que quer aprender.</p>
            </div>
            <div class="third-div__flexbox">
                <h1 style="color:#0020C0;">2<br> Inscreva-se</h1>
                <p>Selecione a trilha que deseja e faça sua inscrição.</p>
            </div>
            <div class="third-div__flexbox">
                <h1 style="color: #0020C0;">3<br> Inicie seus estudos</h1>
                <p>Já pode acessar nossa curadoria de conteúdo.</p>
            </div>
    </div>
</div>


<div id="fourth-div">
    <div class="fourth-div__content">
        <h1 style= "width: 763px; height: 48px; text-align: center">O que são as trilhas de conhecimento?</h1>
        <p>As trilhas do Pipoca Ágil são uma curadoria de cursos, podcasts e<br> materais gratuitos, desenvolvida por nossos voluntários. Esse guia<br> colaborativo foi criado para ajudar você a iniciar sua carreira em<br> desenvolvimento ágil, com conteúdo acessível e direcionado para seis<br> papéis essenciais; Product Owner, Scrum Master, UX/UI Designer, Q.A.,<br> Desenvolvedor Fronted e Backend.</p>
        <p>Feito pela comunidade, para a comunidade, ela oferece o apoio<br> necessário para acelerar sua jornada profissional de forma<br> acessível.</p>
    </div>
    <div class="fourth-div__img">
        <img src="assets/pana.png" alt="" style="width: 488px; height: 267px">
    </div>
</div>