
/*DIVISÓRIAS*/
#first-div {
    background-color: #FFCF52;
    height: 529px;
    position: relative
}

#first-div__text-content {
    max-width: 1200px;
    margin: auto;
    padding: 8% 0px 0px 0px;

}

#second-div {
    max-width: 1200px;
    margin: 40px auto 20px auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.second-div__title {
    margin: 2% 2% 2% 0
}

.second-div__flexbox {
    display: flex;
    width: 285px;
    height: 285px;
    flex-direction: column;
    background-color: #E8E9D9;
    border-radius: 40px 40px 70px 40px;
    padding: 16px;
    color: #0020C0;
    margin-bottom: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.second-div__flexbox:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.322);
}

#third-div {
    margin: auto;
    background-color: #FFCF52;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 422px;
}

.third-div__content {
    display: flex;
    text-align: center;
    font-weight: bolder;
    justify-content: space-around;
}

.third-div__flexbox {
    display: flex;
    flex-direction: column;
    max-width: 28%;
}

#fourth-div {
    background-color: white;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.fourth-div__content {
    width: 60%;
    margin: 10% 0;
}

.fourth-div__img {
    display: flex;
    padding-top: 8%;
    align-items: center;
}

button {
    border: 2px solid #0020c0;
    width: 207px;
    height: 44px;
    background-color: #0020C0;
    border-radius: 50px;
    font-style: normal;
    color: #FFFFFF;
    }

/* Rectangle 98 */
#rectangle {
    padding-left: 8%;
    position: absolute;
    box-sizing: border-box;
    width: 45%;
    height: 432px;
    right: 0;
    top: 0;
    background: #FCFCFC;
    border-radius: 10000px 0px 0px 10000px;
}

/*LETRAS*/

h1{
    margin-bottom: 4%;
    font-family: "Fredoka", serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    color: #252525;
    line-height: 100%;
}

h2 {
    font-style: normal;
    font-size: 32px;
    font: bold;
    line-height: 100%;
    font-weight: 763;
    font-size:larger;
}

h3 {
    font-family: "Fredoka", serif;
    font-size: 20px;
    margin: 0%;
    font-weight: 500;
}

p {
    margin-bottom: 3%;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #252525
}

.third-div__content {
    max-width: 1200px;
    margin: auto;
}

.third-div__title {
    line-height: 60px;
    margin-bottom: 6%;
}