<div id="first-div">
    <div id="first-div__text-content">
        <h1>Trilhas de conhecimentos</h1>
        <p>Curadoria de cursos e conteúdos gratuitos,<br> desenvolvidas com todo cuidado para te guiar no<br> caminho do conhecimento.</p>
        <button><h3>O que são as trilhas?</h3></button>
    </div>
    <div id="rectangle">
        <img src="assets/bro.png" alt="">
    </div>
</div>

<div id="second-div">
    <div class="second-div__flexbox">
        <img src="assets/scrum.png" alt="" width="48px" height="48px">
        <h3>Scrum Fundamentos</h3>
        <p>Introdução ao Scrum,<br> papéis, sprints, backlog,<br> entregas incrementais.</p>
    </div>
    <div class="second-div__flexbox">
        <h3>Product Owner</h3>
        <p>Gestão de backlog e<br> stakeholders; métricas e<br> feedbacks.</p>
    </div>
    <div class="second-div__flexbox">
        <h3>Scrum Master</h3>
        <p>Introdução ao Scrum,<br> papéis, sprints, backlog,<br> entregas incrementais</p>
    </div>
    <div class="second-div__flexbox">
        <h3>UX/UI Design</h3>
        <p>Princípios de UX e UI<br> Design, pesquisa e testes<br> de usuário.</p>
    </div>
    <div class="second-div__flexbox">
        <h3>Desenvolvimento<br> Frontend</h3>
        <p>HTML, CSS, Javascript,<br> frameworks.</p>
    </div>
    <div class="second-div__flexbox">
        <h3>Desenvolvimento<br> Backend</h3>
        <p>Estrutura de servidores,<br> criação de APIs, banco de<br> dados, autenticação.</p>
    </div>
    <div class="second-div__flexbox">
        <h3>QA<br> (Quality Assurance)</h3>
        <p>Testes (unitários,<br> integração, automação),<br> planejamento de testes.</p>
    </div>
</div>

<div id="third-div">
    <h1>Escola sua trilha e constua sua carreira!</h1>
    <h1>1 Explore</h1>
    <p>Navegue pela carreiras de<br> estudos e escolha o que<br> quer aprender.</p>
    <h1>2 Inscreva-se</h1>
    <p>Selecione a trilha que deseja<br> e faça sua inscrição.</p>
    <h1>3 Inicie seus estudos</h1>
    <p>Já pode acessar nossa<br> curadoria de conteúdo.</p>
</div>

<div id="fourth-div">
    <h1 style= "width: 763px; height: 48px">O que são as trilhas de conhecimento?</h1>
    <p>As trilhas do Pipoca Ágil são uma curadoria de cursos, podcasts e<br> materais gratuitos, desenvolvida por nossos voluntários. Esse guia<br> colaborativo foi criado para ajudar você a iniciar sua carreira em<br> desenvolvimento ágil, com conteúdo acessível e direcionado para seis<br> papéis essenciais; Product Owner, Scrum Master, UX/UI Designer, Q.A.,<br> Desenvolvedor Fronted e Backend.</p>
    <p>Feito pela comunicade, para a comunidade, ela oferece o apoio<br> necessário para acelerar sua jornada profissional de forma<br> acessível.</p>
</div>

<footer>
</footer>