<div id="first-div">
    <div id="first-div__text-content">
        <h1>Trilhas de conhecimentos</h1>
        <p>Curadoria de cursos e conteúdos gratuitos,<br> desenvolvidas com todo cuidado para te guiar no<br> caminho do
            conhecimento.</p>
        <button>
            <h3>O que são as trilhas?</h3>
        </button>
    </div>
    <div id="rectangle">
        <img src="assets/bro.png" alt="">
    </div>
</div>

<div id="second-div">
    <div class="second-div__flexbox" *ngFor="let career of careerList"
    (click)="goToComponent(career)">
        <img [src]="career.image" alt="" width="48px" height="48px">
        <h3 class="second-div__title">{{career.area}}</h3>
        <p>{{career.description}}</p>
    </div>
</div>

<div id="third-div">
    <div id="third-div__content">
        <div>
            <h1 style="text-align: center;">Escolha sua trilha e construa sua carreira!</h1>
        </div>
        <div class="third-div__content">
            <div class="third-div__flexbox">
                <h1 style="color:#0020C0;" class="third-div__title">1<br> Explore</h1>
                <p>Navegue pelas carreiras de estudos e escolha o que quer aprender.</p>
            </div>
            <div class="third-div__flexbox">
                <h1 style="color:#0020C0;" class="third-div__title">2<br> Inscreva-se</h1>
                <p>Selecione a trilha que deseja e faça sua inscrição.</p>
            </div>
            <div class="third-div__flexbox">
                <h1 style="color: #0020C0;" class="third-div__title">3<br> Inicie seus estudos</h1>
                <p>Já pode acessar nossa curadoria de conteúdo.</p>
            </div>
        </div>
    </div>
</div>


<div id="fourth-div">
    <div class="fourth-div__content">
        <h1 style="width: 763px; height: 48px">O que são as trilhas de conhecimento?</h1>
        <p>As trilhas do Pipoca Ágil são uma curadoria de cursos, podcasts e materais gratuitos, desenvolvida por
            nossos voluntários. Esse guia colaborativo foi criado para ajudar você a iniciar sua carreira em
            desenvolvimento ágil, com conteúdo acessível e direcionado para seis papéis essenciais: Product Owner,
            Scrum Master, UX/UI Designer, Q.A., Desenvolvedor Frontend e Backend.</p>
        <p>Feito pela comunidade, para a comunidade, ela oferece o apoio necessário para acelerar sua jornada
            profissional de forma acessível.</p>
    </div>
    <div class="fourth-div__img">
        <img src="assets/pana.png" alt="" style="width: 440px; height: 240px;">
    </div>
</div>