header {
    background-color: #F2F2F2;
    width: 1440px;
    height: 62px;
}

button {
    width: 107px;
    height: 41px;
    color: #0020C0;
    border-radius: 50px;
    font-style: normal;
    background-color: #FFFFFF;
}

img {
    
}