.subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    color: var(--gray-800);
    margin-bottom: 51px;
}

.box-subtitle {
    margin-top: 12px;
    max-width: 210px;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 425px;
    height: 61px;
    border: solid 2px var(--gray-200);
    background-color: var(--gray-200);
    border-radius: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: var(--gray-600);
    margin-bottom: 4px;
    padding-left: 24px;
}

.fake-input {
    margin-bottom: 44px;
}

.data-input {
    background-color: white;
    border: solid 2px white;
}

.enabled-input:hover {
    border: solid 2px var(--primary-light);
}

.enabled-input:focus {
    outline: none;
    border: solid 2px var(--primary-dark);
}

input.ng-invalid {
    border: solid 2px red !important;
}

.error-field {
    height: 40px;
    width: 100%;
}

.error-message {
    color: red;
    font-size: 0.85em;
    padding-left: 5px;
    margin-bottom: 0;
}

.content {
    display: flex;
}

.button {
    border-radius: 10px;
    font-weight: 700;
    font-family: system-ui;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
}

.save-button {
    width: 228px;
    height: 61px;
    border: 0;
    background: var(--success);
    letter-spacing: -0.5px;
    color: white;
}

.save-button:hover {
    background: #179c36;
}

.box-button {
    display: flex;
    align-items: flex-end;
}

.box-button-content {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #1DB6CE;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    position: relative;
    left: 15px;
    bottom: 25px;
}

.delete-button {
    width: 148px;
    height: 57px;
    font-style: normal;
    line-height: 26px;
    border: 2px solid rgba(220, 53, 69, 0.50);
    color: var(--danger);
    background-color: var(--gray-100);
    letter-spacing: -0.3px;
    position: relative;
    left: 160px;
}

.delete-button:hover {
    background-color: #ebedef;
}