<div class="content">
    <div class="box-subtitle">
        <h3 class="subtitle">Nome</h3>
        <h3 class="subtitle">Data de Nascimento</h3>
        <h3 class="subtitle" style="margin-bottom: 70px;">E-mail</h3>
        <h3 class="subtitle">Senha</h3>
    </div>
    <div class="box-text">
        <form action="" [formGroup]="accountDetails">
            <input class="input fake-input" type="text" value="..." *ngIf="!loadedData" disabled>
            <input class="input enabled-input data-input" type="text" value="{{register.name}}" *ngIf="loadedData" formControlName="name"
                id="name">
            <div class="error-field" *ngIf="loadedData">
                <div *ngFor="let validation of validationMessages.name; let i = index">
                    <p class="error-message"
                        *ngIf="accountDetails.get('name')?.hasError(validationMessages.name[i].type)">
                        {{validationMessages.name[i].message}}
                    </p>
                </div>
            </div>
            <input class="input fake-input" type="text" value="..." disabled *ngIf="!loadedData">
            <input class="input enabled-input data-input" type="text" value="{{register.birthDate}}" *ngIf="loadedData" formControlName="birthDate"
                id="birthDate">
            <div class="error-field" *ngIf="loadedData">
                <div *ngFor="let validation of validationMessages.birthDate; let i = index">
                    <p class="error-message"
                        *ngIf="accountDetails.get('birthDate')?.hasError(validationMessages.birthDate[i].type)">
                        {{validationMessages.birthDate[i].message}}
                    </p>
                </div>
            </div>
            <input class="input fake-input" type="text" value="..." disabled *ngIf="!loadedData">
            <input class="input enabled-input data-input" type="text" value="{{register.email}}" *ngIf="loadedData"
            formControlName="email" id="email">
            <div class="error-field" *ngIf="loadedData">
                <div *ngFor="let validation of validationMessages.email; let i = index">
                    <p class="error-message"
                        *ngIf="accountDetails.get('email')?.hasError(validationMessages.email[i].type)">
                        {{validationMessages.email[i].message}}
                    </p>
                </div>
            </div>
            <input class="input" type="text" value="**************" disabled *ngIf="loadedData">
            <input class="input" type="text" value="..." disabled *ngIf="!loadedData">
            <button class="save-button button" type="submit">
                Salvar
            </button>
        </form>
    </div>
    <div class="box-button">
        <div class="box-button-content">
            <a routerLink="/user-data/update-password">Alterar senha</a>
            <button class="delete-button button" (click)="deleteAccount()">
                Excluir conta
            </button>
        </div>
    </div>
</div>