/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #372149;
}

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 0;
    margin: 0;
}
