<div class="first_container">
    <div class="first_div">
        <h1>Minhas Trilhas</h1>
        <p class="p_first_div">Olá Pedro,<br>
            Que bom te ver por aqui!<br>
            <br>
            Aqui é seu ambiente de estudante!<br>
            Você pode acessar as suas trilhas e acompanhar seu progresso.
        </p>
    </div>
    <div class="img">
        <img src="./assets/main-menu-img.svg" alt="">
    </div>
</div>


<div class="second_container">
    <div class="text_main_menu">
        <p>Não Iniciado</p>
        <img src="./assets/UI.png" alt="" style="height: 3rem; width: 3rem;">
        <h2>UX DESIGN</h2>
        <p>Princípios de UX e UI Design, pesquisa e testes de usuário.</p>
        <img src="./assets/duracao_nao_iniciado.svg" alt="">
    </div>
    <div class="text_main_menu">
        <p>Em andamento</p>
        <img src="./assets/scrum.png" alt="" style="height: 3rem; width: 3rem">
        <h2>Scrum Fundamentos</h2>
        <p>Introdução ao Scrum, papéis, sprints, backlog e entregas.</p>
        <img src="./assets/duracao_andamento.svg" alt="">
    </div>
    <div class="text_main_menu">
        <p>Concluído</p>
        <img src="./assets/Po.png" alt="" style="height: 3rem; width: 3rem">
        <h2>Product Owner</h2>
        <p>Gestão do backlog e stakeholders, métricas e feedbacks.</p>
        <img src="./assets/duracao_concluido.svg" alt="">
    </div>
</div>